# [最终修复版] 现代化、稳定且互相兼容的依赖组合
Flask[async]==3.0.3
Flask-Cors==4.0.1
gunicorn==22.0.0
Flask-SocketIO==5.3.6

# 数据库核心
Flask-SQLAlchemy==3.1.1
SQLAlchemy==2.0.29
pg8000==1.31.2
psycopg2-binary==2.9.9

# 认证核心
Flask-JWT-Extended==4.6.0
Werkzeug==3.0.3

# 工具库
python-dotenv==1.0.1
requests==2.32.3
pytz==2024.1
ebooklib==0.18

# Gemini AI
google-genai

# Spotify
spotipy
cryptography

#油管音乐（非官方）
ytmusicapi

#单词接龙中文释义
requests
googletrans
