
Flask[async]
Flask-Cors
uvicorn

# --- WebSocket 核心 ---
Flask-SocketIO


# 数据库核心
Flask-SQLAlchemy
SQLAlchemy
psycopg2-binary

# 认证核心
Flask-JWT-Extended
Werkzeug

# 工具库
python-dotenv
requests
pytz
ebooklib

# Gemini AI
google-genai

# Spotify
spotipy
cryptography

#油管音乐（非官方）
ytmusicapi

#单词接龙中文释义
requests
googletrans
